GitFlowVersionTask
log4net
NServiceBus
NServiceBus.ActiveMQ
NServiceBus.Autofac
NServiceBus.Azure
NServiceBus.CastleWindsor
NServiceBus.Host
NServiceBus.Host32
NServiceBus.Hosting.Azure
NServiceBus.Hosting.Azure.HostProcess
NServiceBus.Interfaces
NServiceBus.NHibernate
NServiceBus.Ninject
NServiceBus.Notifications
NServiceBus.RabbitMQ
NServiceBus.Spring
NServiceBus.SQLServer
NServiceBus.StructureMap
NServiceBus.Testing
NServiceBus.Timeout.Hosting.Azure
NServiceBus.Unity
