NServiceBus
NServiceBus.Interfaces
NServiceBus.Azure                                                  
NServiceBus.Hosting.Azure
NServiceBus.NHibernate
NServiceBus.Notifications
NServiceBus.Testing
NServiceBus.Timeout.Hosting.Azure
NServiceBus.ActiveMQ
NServiceBus.RabbitMQ
NServiceBus.SQLServer
NServiceBus.Host
NServiceBus.Host32
NServiceBus.Hosting.Azure.HostProcess
NServiceBus.Autofac
NServiceBus.CastleWindsor
NServiceBus.Ninject
NServiceBus.Spring
NServiceBus.StructureMap
NServiceBus.Unity
log4net
GitFlowVersionTask