.html_carousel {
    padding-left: 162px;
}


.slide-dimensions {
    width: 836px;
    height: 371px;
}

.slide2 .two-block > div:first-child {
    float: left;
    width: 50%;
}

.slide2 .two-block > div:last-child {
    float: left;
    width: 50%;
}

.slide3 .two-block > div:first-child, .slide4 .two-block > div:first-child {
    float: left;
    width: 40%;
}

.slide3 .two-block > div:last-child, .slide4 .two-block > div:last-child {
    float: left;
    width: 60%;
}

.two-block img {
    padding-top: 33px;
    padding-left: 50px;
}

.slide1 {
    background-color: #e6f8ff;
    border: 12px solid #b1e9fc;
}

    .slide1 .image-set {
        margin-left: 66px;
    }

    .slide1 .arrow-right {
        padding-top: 58px;
    }

.slide2 {
    background-color: #fff0d9;
    border: 12px solid #ffc15f;
}

    .slide2 .two-block > div:last-child img {
        margin-top: 37px;
    }

.slide3 {
    background-color: #ede5ff;
    border: 12px solid #cab0f9;
}

    .slide3 .two-block > div:last-child img {
        margin-top: 37px;
    }

.slide4 {
    background-color: #eaffe5;
    border: 12px solid #aafcae;
}

    .slide4 .two-block > div:last-child img {
        margin-top: 88px;
    }

.slide1 img {
    float: left;
    padding: 44px 22px 37px 22px;
}

.slide1 .header-slider {
    padding-top: 40px;
    color: #000;
    font-size: 28px;
    text-align: center;
    font-family: 'Dosis', Bold;
    font-weight: bold;
}

.slide1 .text {
    clear: both;
    font-weight: bold;
    text-align: center;
    font-family: 'Lato', Bold;
    font-size: 18px;
    padding: 0px 80px;
    line-height: 25px;
    height: 56px;
}

.slide1 .slide-button {
    float: right;
}

.slide2 .text, .slide3 .text, .slide4 .text {
    font-weight: bold;
    text-align: left;
    font-family: 'Lato', Regular;
    font-size: 18px;
    padding: 38px 0px 20px 50px;
    /*height: 210px;*/
    line-height: 30px;
}

/*.slide3-img, .slide4-img {
    float: right;
    padding-right: 20px;
}*/

.particular-button, .servisebus-button, .profiler-button, .studio-button {
    text-align: center;
    padding: 0px 50px;
}

.slide-button {
    clear: both;
    /*float: right;*/
    font-family: 'LATO' 'Black';
    font-size: 16px;
    display: block;
    height: 54px;
    line-height: 45px;
    text-align: center;
    width: 237px;
    text-transform: uppercase;
    color: #fff;
    background-repeat: repeat-x;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

    .slide-button:hover {
        color: #fff;
        text-decoration: none;
    }

.particular-button a {
    background-image: url(/Media/Default/Home/Carousel/button.png);
}

.servisebus-button a {
    background-image: url(/Media/Default/Home/Carousel/servisebus-button.png);
}

.profiler-button a {
    background-image: url(/Media/Default/Home/Carousel/profiler-button.png);
}

.studio-button a {
    background-image: url(/Media/Default/Home/Carousel/studio-button.png);
}

#slider-top-nav img {
    width: 20%;
    padding: 2.5%;
    cursor: pointer;
}

.top-slider-container {
    width: 860px;
    padding-left: 60px;
    overflow: hidden;
}

    .top-slider-container .slide .thumbnail {
        display: none;
    }

    .top-slider-container .thumbnails .thumbnail {
        float: left;
        width: 138px;
        padding: 18px 17px 9px 60px;
        cursor: pointer;
        margin: 0px 0px;
    }

        .top-slider-container .thumbnails .thumbnail .box1, .top-slider-container .thumbnails .thumbnail .box2, .top-slider-container .thumbnails .thumbnail .box3, .top-slider-container .thumbnails .thumbnail .box4 {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: #bcc6c2;
            margin: 10px;
        }

    /*.top-slider-container .thumbnails .thumbnail .box1 {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #919e9e;
    margin: 10px;
}*/

    .top-slider-container .thumbnails .selected .box1 {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: #009ed9;
        margin: 10px 10px 10px 10px;
    }

    /*.top-slider-container .thumbnails .thumbnail .box4
{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #bcc6c2;
    margin: 10px;
}*/

    .top-slider-container .thumbnails .selected .box2 {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: #f19300;
        margin: 10px;
    }


    /*.top-slider-container .thumbnails .thumbnail .box3{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #919e9e;
    margin: 10px;
}*/

    .top-slider-container .thumbnails .selected .box3 {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: #815dc4;
        margin: 10px;
    }

    /*.top-slider-container .thumbnails .thumbnail .box4 {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #919e9e;
    margin: 10px;
}*/

    .top-slider-container .thumbnails .selected .box4 {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: #40a52b;
        margin: 10px;
    }

    .top-slider-container .thumbnails .thumbnail {
        line-height: 18px;
    }

        .top-slider-container .thumbnails .thumbnail .text {
            position: relative;
            top: -15px;
            color: #bcc6c2;
            font-weight: bold;
            line-height: 24px;
            font-size: 18px;
            font-family: 'Lato', Bold;
        }

    .top-slider-container .thumbnails .selected .text1 {
        color: #009ed9;
    }

    .top-slider-container .thumbnails .selected .text2 {
        color: #f19300;
    }

    .top-slider-container .thumbnails .selected .text3 {
        color: #815dc4;
    }

    .top-slider-container .thumbnails .selected .text4 {
        color: #40a52b;
    }


.image_carousel {
    padding: 22px 0 22px 83px;
    position: relative;
    width: 795px;
    height: 92px;
}

.first-active, .second-active, .third-active, .forth-active, .fifth-active {
    display: none !important;
}

.image_carousel a {
    background-color: white;
    padding: 9px 20px;
    margin: 7px;
    display: inline-block;
    float: left;
}

a.prev {
    background: url(/Media/Default/Home/Carousel/prev1.png) no-repeat transparent;
    width: 60px;
    margin: 0px;
    padding: 0px;
    height: 60px;
    display: block;
    position: absolute;
    top: 35px;
}

a.next {
    background: url(/Media/Default/Home/Carousel/next1.png) no-repeat transparent;
    width: 60px;
    margin: 0px;
    padding: 0px;
    height: 60px;
    display: block;
    position: absolute;
    top: 35px;
}

a.prev {
    left: 23px;
}

    a.prev:hover {
        background: url(/Media/Default/Home/Carousel/prev-active.png) no-repeat transparent;
    }

a.next {
    right: -83px;
}

    a.next:hover {
        background: url(/Media/Default/Home/Carousel/next-active.png) no-repeat transparent;
    }

    a.prev span, a.next span {
        display: none;
    }

.clearfix {
    float: none;
    clear: both;
}

.caroufredsel_wrapper {
    display: block;
    text-align: left;
    float: none;
    position: absolute;
    top: 0px;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: auto;
    width: 812px;
    height: 89px;
    margin: 0px;
    overflow: hidden;
}

.image_carousel #customers {
    overflow: hidden;
    text-align: left;
    float: none;
    position: absolute;
    right: auto;
    bottom: auto;
    width: 8120px;
    height: 89px;
    z-index: auto;
}
